#text {
    padding-bottom: 12px;
}
#button {
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 16px 12px;
    font-size: 16px;
    font-family: 'Minion Pro Bold';
    margin-bottom: 16px;
}
#disableButton {
    background: rgb(201, 200, 199);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 16px 12px;
    font-size: 16px;
    font-family: 'Minion Pro Bold';
    margin-bottom: 16px;
}
#play {
    display: inline-block;
    width: 200px;
    padding: 12px;
    margin-bottom: 12px;
    background: rgb(201, 200, 199);
    border-radius: 4px;
    margin-right: 16px;
}
#player {
    padding-bottom: 8px;
}

#sendMessageContainer {
    display: flex;
}

#sendMessageButton {
    height: 46px;
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    font-family: 'Minion Pro Bold';
    margin-left: 16px;
}

#battleplansContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
    width: 100%;
}

#battleplan {
    background: rgb(46, 46, 49);
    color: white;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
}

#activeBattleplan {
    background: rgb(201, 200, 199);
    color: black;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
}
