#text {
    padding-bottom: 12px;
}
#button {
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 16px 12px;
    font-size: 16px;
    font-family: 'Minion Pro Bold';
    margin-bottom: 16px;
}
#play {
    display: inline-block;
    width: 200px;
    padding: 12px;
    margin-bottom: 12px;
    background: rgb(201, 200, 199);
    border-radius: 4px;
    margin-right: 16px;
}
#player {
    padding-bottom: 8px;
}
