#rosterOption {
  font-family: 'Minion Pro Bold';
  font-size: 20px;
  margin: 12px 0px;
}

#armyOfRenown {
  font-family: 'Minion Pro Bold';
  font-size: 20px;
  margin: 12px 0px;
}

#rosterOptionText {
  padding-bottom: 4px;
}
