#tableContainer {
    padding-bottom: 24px;
}
#title {
    font-size: 16px;
    padding-bottom: 12px;
}
#roster {
    white-space: pre-wrap;
}
#rulesButton {
    margin-top: 16px;
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 16px 12px;
    font-size: 16px;
    font-family: 'Minion Pro Bold';
}
#row {
    display: flex;
    padding: 16px 0px;
}
#сolumn {
    display: flex;
    flex: 1;
    align-items: center;
}
#smallColumn {
    display: flex;
    min-width: 15%;
    justify-content: center;
    align-items: center;
}
#extraSmallColumn {
    display: flex;
    min-width: 8%;
    justify-content: center;
    align-items: center;
}
#playContainer {
    width: 100%;
    padding: 0;
    border: none;
    font: inherit;
    background: inherit;
}
