#button {
    margin-top: 16px;
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 16px 12px;
    font-size: 16px;
    font-family: 'Minion Pro Bold';
}
#nextButton {
    margin-top: 12px;
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 12px 12px;
    font-size: 16px;
    font-family: 'Minion Pro Bold';
    flex: 1;
}
#buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    gap: 16px;
}
#checkboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0px 12px;
    margin-bottom: 12px;
  }
  
  #checkboxText {
    font-family: 'Minion Pro Bold';
    padding: 16px 0px;
  }