#container {
  background: white;
  margin: 0px;
  padding: 0px 16px;
  padding-bottom: 16px;
}
#weaponContainer {
  flex: 1;
  border: 1px solid rgb(46, 46, 49);
  margin-bottom: 16px;
  border-radius: 8px;
}
#weaponNameContainer {
  background: rgb(46, 46, 49);
  border-radius: 4px 4px 0px 0px;
  padding: 12px 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#weaponCharacteristicsContainer {
  display: flex;
  justify-content: space-between;
}
#weaponName {
  color: white;
  margin: 0px;
  font-size: 16px;
}
#weaponAbilityContainer {
  display: flex;
  padding: 12px;
}
#cellTitle {
  color: #525252;
  font-size: 16px;
  margin-top: 0px;
  flex: 1;
  text-align: center;
}
#cellValue {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
  flex: 1;
  text-align: center;
}

.keywordsContainer {
  display: flex;
}
.flexContainer {
  display: flex;
  padding-bottom: 12px;
}
#weaponAbilities {
  background: white;
  color: #525252;
  font-size: 14px;
  border: 1px solid #8B8B8B;
  border-radius: 24px;
  padding: 4px 8px;
  margin-right: 4px;
}
#regimentOptionContainer {
  margin-top: 8px;
}
#regimentOption {
  background-color: #E8E8E8;
  font-size: 16px;
  border: 1px solid #8B8B8B;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 4px;
  margin-bottom: 8px;
}
#keyword {
  margin-right: 4px;
}
#row {
  flex-direction: row;
}
#wargearOptions {
  white-space: pre-line;
  margin: 8px 0px;
}

#textItalic {
  white-space: pre-line;
  font-style: italic;
}

#keywords {
  background-color: #E8E8E8;
  border-radius: 8px;
  padding: 8px;
}

#characteristicsContainer {
  flex-direction: row;
  justify-content: space-between;
  background: #E7E7E7;
  margin-top: -8px;
  margin-left: -16px;
  margin-right: -16px;
  padding: 18px 12px;
}

#characteristicSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#characteristicValueContainer {
  background: rgb(46, 46, 49);
  border: 3px solid #A1923D;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 6px;
}

#characteristicValue {
  color: white;
  padding-top: 6px;
  font-size: 28px;
  font-family: 'Minion Pro Bold';
  text-align: center;
}

#characteristicLongValue {
  color: white;
  padding-top: 12px;
  font-size: 16px;
  font-family: 'Minion Pro Bold';
  text-align: center;
}

#characteristicTitle {
  text-align: center;
  font-family: 'Minion Pro Bold';
  font-size: 16px;
  padding-top: 4px
}

#unitDetailsContainer {
  border: 1px solid rgb(46, 46, 49);
  margin-bottom: 16px;
  align-items: center;
  border-radius: 8px;
}
#unitDetailsSubContainer {
  padding-left: 8px;
  padding-right: 8px;
}
#unitDetailsTitle {
  background: rgb(46, 46, 49);
  color: white;
  font-family: 'Minion Pro Bold';
  font-size: 18px;
  border-radius: 4px 4px 0px 0px;
  padding: 16px;
  margin: 0px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#unitDetailsText {
  margin: 8px 0px;
}
#weaponTitleContainer {
  display: flex;
  justify-content: space-between;
}
#calculator {
  background: transparent;
  border-width: 0px;
}
#warscrollChapterTitle {
  margin: 12px 0px;
}