#addWeapon {
    background: rgb(46, 46, 49);
    color: white;
    border-width: 0px;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Minion Pro Bold';
}
